extend layout.pug

block content
    .content
        .aboutText
            h1 About Ramverk2
            p Kursen Ramverk2, lär ut utveckling, test och driftsättning av applikationer och servrar där flertalet olika ramverk är ingående delar av de applikationer och tjänster som skapar en totallösning.

            p Vi bygger en större totallösning där flera klienter kopplas mot en eller flera servrar som bygger på olika tekniker och ramverk. All samverkar för att skapa en total lösning, ett system, enligt en given specifikation.

            p Vi arbetar med tekniker för virtualisering samt hur test och driftsättning kan ske i molnet i form av mindre tjänster som samverkar en den totala lösningen.

            p Kursen arbetar med utvecklingsmetoder för testdriven utveckling, automatiserad testning, löpande integrering och driftsättning där rollen som devops beaktas.

            p Källkoden hittar du på Github - <a href="https://github.com/zackebth/me-redovisa-ramverk2.git">Github Ramverk2</a>
        .aboutImg
            <img id="image" src="/img/question.png">
    .filler
