extend layout.pug

block content
  .content
    h1 Application
    p The application is a todo application that is focused for a family where they, can gather their todos within the family in a smooth and effiecnt way. They can simply add a todo, remove a todo. There is a chat in the Application that fullfills the requirement of real time, they can set their username and send messages.
    p The application is build upon MEAN Stack, MongoDB, Express, Angularjs, Nodejs. The chat is built upon Socket.io.
    p In the application I'm using a npm module that I have created on my own as an exercise of Kmom06. It's a simple flash alert message for angularjs. I can display, Info, Warning Succes and Error. In my application I use it on Load todos, Create a todo, Delete a todo and Set Username.
    a(href="https://github.com/zackebth/rv2-project") Application on Github
    p
    a(href="https://github.com/zackebth/rm2Flash") Npm module on Github
  .filler
