.footer-container
    .footer
        ul
            li
                a(href='https://github.com/zackebth/rv2') Github
            li
                a(href='https://scrutinizer-ci.com/g/zackebth/rv2/') Scrutinizer
