.header-container
    .navbar
        ul
            li
                a(href='/') Home
            li
                a(href='/report') Report
            li
                a(href='/about') About
            li
                a(href='/chat') Chat
            li
                a(href='/Db') Db
