extend layout.pug

block content
    .content
        .meText
            h1 About me
            p Mitt namn är Zackarias Madsen och jag kommer ifrån en liten stad utanför Halmstad som heter Laholm. I hela mitt liv så har jag varit teknik intresserad, har alltid tyckt om att att sitta vid datorn ochspela eller lära mig saker. Det var först i ettan i gymnasiet då jag blev introducerad tillprogrammering och jag fall för det direkt och visste att det var detta jag vill hålla på med iframtiden. Men olyckligtvis så la den skolan ner efter ett år så jag fick börja på en annan skola därprogrammering inte fanns så jag tappade lite efter det. Men i trean då började en gammal lärare frånförra skolan och startade programmerings kurser igen och då var jag back on track igen.

            p När jag skulle välja högskola så var det självklart vad den skolan skulle innehålla, men hade liteproblem med att hitta en skola som hade det programmet jag ville gå men efter ett tags sökande såhittade jag BTH och då var valet självklart.

            p Tack för mig.
        .meImg
            <img id="image" src="/img/me.jpg">
    .filler
