extend layout.pug

block content
    main
        :markdown-it(linkify langPrefix='highlight-')
            # Markdown

            ## Another headline

            Markdown document with http://links.com and codeblocks.

            Another paragraph.

            ```js
            var codeBlocks;
            ```
